<ul class="nav navbar-nav">
    <li>@Html.ActionLink("プロジェクト", "Index", "CompanyHome")</li>
    <li>@Html.ActionLink("プロジェクトを作る", "Create", "CompanyHome")</li>
    <li>@Html.ActionLink("企業", "Index", "Company")</li>
</ul>
