<ul class="nav navbar-nav">
    <li>@Html.ActionLink("My Page", "Index", "Home")</li>
    <li>@Html.ActionLink("Group", "Index", "Group")</li>
    <li>@Html.ActionLink("Reference", "Index", "ProjectInfo")</li>
</ul>
