<!-- Modal -->
<div class="modal" id="deleteGroup" tabindex="-1" role="dialog" aria-labelledby="deleteGroupLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("DeleteGroup", "CompanyProjectUser", new { returnUrl = Request.Path }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("groupIdToDelete")
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="deleteGroupLabel">グループを削除する</h4>
                </div>
                <div class="modal-body">
                    <p>このグループを削除しますか？</p>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("DeleteGroup.GroupName")
                        </dt>

                        <dd>
                            <span id="@(Html.Id("groupNameToDelete"))"></span>
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-primary">削除</button>
                </div>
            }
        </div>
    </div>
</div>
